In [1]:
import pandas as pd

target = pd.read_csv('target_final.csv')
walmart = pd.read_csv('walmart_final.csv')
census = pd.read_csv('county.csv')

In [2]:
walmart.shape

(4654, 35)

In [3]:
for index, value in enumerate(census['County'].values):
    if value[-6:] == 'County':
        value = value[:-7]
        census['County'].values[index] = value
census.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [4]:
census['County'] = census['County'].str.strip().str.lower()
target['Address.County'] = target['Address.County'].str.strip().str.lower()
census.shape

(3220, 37)

In [5]:
census_deduped = census.drop_duplicates(subset=['County'], keep='first')
census_deduped.shape

(1955, 37)

In [6]:
merged_data = pd.merge(target, census_deduped, left_on=['Address.County'], right_on=['County'], how='left')
merged_data.shape

(1771, 93)

In [7]:
merged_data.to_csv('target_final.csv', index=False)

In [8]:
merged_data_2 = pd.merge(walmart, census_deduped, left_on=['COUNTYNAME'], right_on=['County'], how='left')
merged_data_2.shape

(4654, 72)

In [9]:
merged_data_2.head()

,Unnamed: 0,name,url,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Conway Supercenter,https://www.walmart.com/store/5/conway-ar/details,1155 Hwy 65 North,Conway,AR,72032,US,501-329-0023,NaN,...,1.9,1.4,3.4,24.0,57306.0,78.3,16.0,5.6,0.1,5.1
1,1,Sikeston Supercenter,https://www.walmart.com/store/9/sikeston-mo/de...,1303 S Main St,Sikeston,MO,63801,US,573-472-3020,NaN,...,0.7,1.0,1.3,17.8,17270.0,77.2,16.7,5.9,0.2,11.6
2,2,Tahlequah Supercenter,https://www.walmart.com/store/10/tahlequah-ok/...,2020 S Muskogee Ave,Tahlequah,OK,74464,US,918-456-8804,NaN,...,0.3,0.3,2.0,26.5,9879.0,74.8,17.1,8.1,0.0,5.3
3,3,Mountain Home Supercenter,https://www.walmart.com/store/11/mountain-home...,65 Wal Mart Dr,Mountain Home,AR,72653,US,870-492-9299,NaN,...,2.4,0.7,3.3,16.4,15926.0,79.5,11.7,8.6,0.2,5.8
4,4,Claremore Supercenter,https://www.walmart.com/store/12/claremore-ok/...,1500 S Lynn Riggs Blvd,Claremore,OK,74017,US,918-341-2765,NaN,...,0.6,1.5,3.4,24.2,43166.0,81.0,13.3,5.5,0.2,5.0

In [10]:
merged_data_2.to_csv('walmart_final.csv')